<launch>

    <!--  -->
    <!-- These are values that can be passed via command line to this launch file, -->
    <!--    for example, paused:=true -->
    <!--  paused       : start the simulation in a paused state -->
    <!--  use_sim_time : tell ROS nodes to get the time published by Gazebo -->
    <!--  gui          : launch the user interface -->
    <!--  headless     : disable all rendering (does not work with gui:=true) -->
    <!--  debug        : start gzserver in debug mode using gdb -->
    <!--  verbose      : tell gazebo to print extra information -->
    <!--  world        : the world file to pass to Gazebo for startup -->
    <!--  -->
    <arg name="paused"       default="true"  />
    <arg name="use_sim_time" default="true"  />
    <arg name="gui"          default="true"  />
    <arg name="headless"     default="false" />
    <arg name="debug"        default="false" />
    <arg name="verbose"      default="false" />

    <!-- PointCloud2 data topic path -->
    <!--    This should be the rostopic path that terrapin publishes PointCloud2 data too -->
    <arg name="subscripe_to"  default="/camera/depth/points" />

    <!-- PCL Node Arguments -->
    <!-- Original: simply subscribes to the input data and publishes under a new topic -->
    <arg name="run_original"  default="false" />
    <!-- Filter: changes the PointCloud2 data density -->
    <arg name="run_filter"    default="false" />
    <!-- Keypoint Extractor: Gets keypoints from PointCloud2 data -->
    <arg name="run_keypoints" default="false"  />
    <!-- Registration: Compares point clouds -->
    <arg name="run_registration" default="true"  />

    <!--  -->
    <!-- Start with the empty_world.launch file -->
    <!--  -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"   value="$(find terrapin_gazebo)/worlds/terrapin.hydrant.world"/>
        <arg name="paused"       value="$(arg paused)"       />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="gui"          value="$(arg gui)"          />
        <arg name="headless"     value="$(arg headless)"     />
        <arg name="debug"        value="$(arg debug)"        />
        <arg name="verbose"      value="$(arg verbose)"      />
    </include>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find terrapin_description)/urdf/terrapin.main.xacro" />

    <!-- Spawn a robot into Gazebo from the ROS Parameter Server -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-param robot_description -urdf -model terrapin" />

    <!-- Add a static transform publisher for viewing the point cloud data from camera -->
    <node name="point_cloud_broadcaster" pkg="tf" type="static_transform_publisher"
          args="1 0 0 0 0 0 1 base_link camera_link 100" />

    <!-- PCL NODE LAUNCHES BELOW -->

    <!-- Launch PCL original node -->
    <group if="$(arg run_original)">
      <node name="pcl_original" pkg="terrapin_pcl" type="original"
            args="input:=$(arg subscripe_to)" />
    </group>

    <!-- Launch PCL filter node -->
    <group if="$(arg run_filter)">
      <node name="pcl_filter" pkg="terrapin_pcl" type="filter"
            args="input:=$(arg subscripe_to)" />

      <!-- Launch PCL keypoints node -->
      <group if="$(arg run_keypoints)">
        <node name="pcl_keypoints" pkg="terrapin_pcl" type="keypoints"
              args="input:=/point_clouds/filtered" />
      </group>
    </group>

    <!-- Launch PCL registration node -->
    <group if="$(arg run_registration)">
      <node name="pcl_registration" pkg="terrapin_pcl" type="registration"
            args="input:=$(arg subscripe_to)" />
    </group>

</launch>
