<launch>

    <!--  -->
    <!-- These are values that can be passed via command line to this launch file, -->
    <!--    for example, paused:=true -->
    <!--  paused       : start the simulation in a paused state -->
    <!--  use_sim_time : tell ROS nodes to get the time published by Gazebo -->
    <!--  gui          : launch the user interface -->
    <!--  headless     : disable all rendering (does not work with gui:=true) -->
    <!--  debug        : start gzserver in debug mode using gdb -->
    <!--  verbose      : tell gazebo to print extra information -->
    <!--  world        : the world file to pass to Gazebo for startup -->
    <!--  -->
    <arg name="paused"       default="true"  />
    <arg name="use_sim_time" default="true"  />
    <arg name="gui"          default="true"  />
    <arg name="headless"     default="false" />
    <arg name="debug"        default="false" />
    <arg name="verbose"      default="false" />

    <!-- PointCloud2 data topic path -->
    <!--    This should be the rostopic path that terrapin publishes PointCloud2 data too -->
    <arg name="subscripe_to"  default="/camera/depth/points" />

    <!-- PCL Node Arguments -->
    <!-- Original: simply subscribes to the input data and publishes under a new topic -->
    <arg name="original"  default="true"  />
    <!-- Filter: changes the PointCloud2 data density -->
    <arg name="filter"    default="true" />

    <!--  -->
    <!-- Launch the robot_description node -->
    <!--  -->
    <include file="$(find terrapin_description)/launch/terrapin.model.launch" ns="/">
      <arg name="paused"       value="$(arg paused)"       />
      <arg name="use_sim_time" value="$(arg use_sim_time)" />
      <arg name="gui"          value="$(arg gui)"          />
      <arg name="headless"     value="$(arg headless)"     />
      <arg name="debug"        value="$(arg debug)"        />
      <arg name="verbose"      value="$(arg verbose)"      />
    </include>

    <!--  -->
    <!-- Start with the empty_world.launch file -->
    <!--  -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"   value="$(find terrapin_gazebo)/worlds/worlds/terrapin.cones.world"/>
        <arg name="paused"       value="$(arg paused)"       />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="gui"          value="$(arg gui)"          />
        <arg name="headless"     value="$(arg headless)"     />
        <arg name="debug"        value="$(arg debug)"        />
        <arg name="verbose"      value="$(arg verbose)"      />
    </include>

    <!-- Spawn a robot into Gazebo from the ROS Parameter Server -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-param terrapin_description -urdf -model terrapin" />

    <!-- Add a static transform publisher for viewing the point cloud data from camera -->
    <node name="point_cloud_broadcaster" pkg="tf" type="static_transform_publisher"
          args="1 0 0 0 0 0 1 base_link camera_link 100" />

    <!-- PCL NODE LAUNCHES BELOW -->

    <!-- Launch PCL original node -->
    <group if="$(arg original)">
      <node name="pcl_original" pkg="terrapin_pcl" type="original"
            args="input:=$(arg subscripe_to)" />
    </group>

    <!-- Launch PCL filter node -->
    <group if="$(arg filter)">
      <node name="pcl_filter" pkg="terrapin_pcl" type="filter"
            args="input:=$(arg subscripe_to)" />
    </group>

</launch>
