<?xml version="1.0" ?>
<robot name="terrapin_properties" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!--
      Command line args
  -->
  <xacro:arg name="laser_visual"  default="false"/>
  <xacro:arg name="camera_visual" default="false"/>
  <xacro:arg name="imu_visual"    default="false"/>

  <xacro:arg name="r200_cam_rgb_px" default="0.005"/>
  <xacro:arg name="r200_cam_rgb_py" default="0.018"/>
  <xacro:arg name="r200_cam_rgb_pz" default="0.013"/>
  <xacro:arg name="r200_cam_depth_offset" default="0.01"/>
  
  
  <!--
      Properties
  -->
  
  <!-- Global Properties -->
  <xacro:property name="M_PI" value="3.1415926535897931" />
  
  <!-- Gazebo Properties -->
  <xacro:property name="laser_visual"  value="$(arg laser_visual)"/>
  <xacro:property name="camera_visual" value="$(arg camera_visual)"/>
  <xacro:property name="imu_visual"    value="$(arg imu_visual)"/>

  <xacro:property name="r200_cam_rgb_px" value="$(arg r200_cam_rgb_px)"/>
  <xacro:property name="r200_cam_rgb_py" value="$(arg r200_cam_rgb_py)"/>
  <xacro:property name="r200_cam_rgb_pz" value="$(arg r200_cam_rgb_pz)"/>
  <xacro:property name="r200_cam_depth_offset" value="$(arg r200_cam_depth_offset)"/>
  
</robot>
