<launch>

    <!-- This list of arguments are not used in this file.
            They are provided because ROS complains about unused args when
            we use the pass_all_args="true" option while including this file.
            This is an inelegant solution, but I'd rather not duplicate arguments
            in all other launch files.
    -->
    <arg name="rvizconfig" />
    <arg name="gui" />
    <arg name="paused" />
    <arg name="use_sim_time" />
    <arg name="headless" />
    <arg name="debug" />
    <arg name="world" />
    <arg name="verbose" />

    <!-- Pass the model as a command line argument -->
    <arg name="model" default="$(find terrapin_description)/urdf/terrapin.main.xacro" />

    <!-- Load the URDF into the ROS Parameter Server -->
    <!-- (expose the URDF model to {joint,robot}_state_publisher) -->
    <param name="terrapin_description" command="$(find xacro)/xacro --inorder $(arg model)" />

</launch>
